<ion-content>

    <div class="p-3">
        <h4>{{title}}</h4>
    </div>
    <ion-searchbar showCancelButton="never" (ionChange)="search($event)"></ion-searchbar>

    <div class="center text-muted" *ngIf="data.length < 1">
        <br><br>
        No results found
    </div>
    <ion-list>
        <ion-item button (click)="select({name: defaultLabel, id: ''})" *ngIf="defaultLabel !== ''">
            <ion-label>{{defaultLabel}}</ion-label>
        </ion-item>
        <ion-item button *ngFor="let d of data" (click)="select(d)">
            <ion-label>{{d.name}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>