<app-navbar [title]="'ATTENDANCE'" [icon]="'body-outline'" [loader]="loader">
    <div content>
        Browse Attendance

        <br><br>

        <div class="row">
            <div class="col-4">
                <strong class="text-primary">Employee ID:</strong> {{attendance.employee_id ? attendance.employee_id : 'N/A'}}<br>
                <strong class="text-primary">Employee Name:</strong> {{attendance.name ? attendance.name : 'N/A'}}<br>
                <strong class="text-primary">Position:</strong> {{attendance.position ? attendance.position : 'N/A'}}<br>
                <strong class="text-primary">Department:</strong> {{attendance.department ? attendance.department : 'N/A'}}<br>
            </div>
            <div class="col-4">
                <strong class="text-primary">Rate:</strong> ₱ {{attendance.rate ? attendance.rate : '0.00'}}<br>
                <strong class="text-primary">Overtime Pay:</strong> ₱ {{attendance.ot_pay ? attendance.ot_pay : '0.00'}}<br>
                <strong class="text-primary">Net of Absences:</strong> ₱ {{attendance.net_absences ? attendance.net_absences : '0.00'}}<br>
                <strong class="text-primary">Grosspay:</strong> ₱ {{attendance.grosspay ? attendance.grosspay : '0.00'}}<br>                
            </div>
        </div>

        <div style="overflow: auto;">
            <table class="table table-hover table-borderless data-table">
                <thead>
                    <tr>
                        <th class="text-muted" style="text-align: left; padding-left: 50px !important;">
                            Action
                        </th>
                        <th class=" text-muted">
                            Day Type
                        </th>
                        <th class=" text-muted">
                            Date
                        </th>
                        <th class=" text-muted">
                            Official<br>
                            Time in & Time out
                        </th>
                        <th class=" text-muted">
                            Actual<br>
                            Time in & Time out
                        </th>
                        <th class=" text-muted">
                            Time in<br>
                            Location & Image
                        </th>
                        <th class=" text-muted">
                            Time out<br>
                            Location & Image
                        </th>
                        <th class=" text-muted">
                            Late<br>(Mins)
                        </th>
                        <th class=" text-muted">
                            Undertime<br>(Mins)
                        </th>
                        <th class=" text-muted">
                            Absent<br>(Mins)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let att of attendance.attendance" class="bg-light data-row">
                        <th style="text-align: left; padding-left: 50px !important;">
                            <ion-checkbox [checked]="att.is_absent === 1" (ionChange)="updateAttendance('absent', att, $event)"></ion-checkbox> Absent<br>
                            <ion-checkbox [checked]="att.on_leave === 1" (ionChange)="updateAttendance('leave', att, $event)"></ion-checkbox> Leave<br>
                            <ion-checkbox [checked]="att.on_half_leave === 1" (ionChange)="updateAttendance('half_leave', att, $event)"></ion-checkbox> Half Leave 
                        </th>
                        <th class="text-primary pointer">
                            <span (click)="updateAttendance('absent', att)">
                                {{att.day_type | titlecase}}
                            </span>
                        </th>
                        <th>
                            {{att.date | date: 'EEEE'}}<br>
                            {{att.date | date: 'MMM d, y'}}
                        </th>
                        <th class="text-primary pointer">
                            {{att.official_time_in | date: 'medium'}}<br>
                            {{att.official_time_out | date: 'medium'}}
                        </th>
                        <th class="text-primary pointer">
                            {{att.time_in ? (att.time_in | date: 'medium') : 'N/A'}}<br>
                            {{att.time_out ? (att.time_out | date: 'medium') : 'N/A'}}
                        </th>
                        <th>
                            <a
                              href="https://www.google.pl/maps/place//@{{att.time_in_latitude}},{{att.time_in_longitude}},19z"
                              target="_blank"
                              *ngIf="att.time_in_latitude !== null && att.time_in_longitude !== null">
                                Click here to open in maps
                            </a>
                            <span *ngIf="att.time_in_latitude === null || att.time_in_longitude === null">Location not available</span>
                            <br>
                            <a
                              href="{{att.time_in_image}}"
                              target="_blank"
                              *ngIf="att.time_in_image !== null">
                                Click here to view image
                            </a>
                            <span *ngIf="att.time_in_image === null">Image not available</span>
                        </th>
                        <th>
                            <a
                              href="https://www.google.pl/maps/place//@{{att.time_in_latitude}},{{att.time_in_longitude}},19z"
                              target="_blank"
                              *ngIf="att.time_out_latitude !== null && att.time_out_longitude !== null">
                                Click here to open in maps
                            </a>
                            <span *ngIf="att.time_out_latitude === null || att.time_out_longitude === null">Location not available</span>
                            <br>
                            <a
                              href="{{att.time_out_image}}"
                              target="_blank"
                              *ngIf="att.time_out_image !== null">
                                Click here to view image
                            </a>
                            <span *ngIf="att.time_out_image === null">Image not available</span>
                        </th>
                        <th>
                            {{att.late_mins}}
                        </th>
                        <th>
                            {{att.undertime_mins}}
                        </th>
                        <th>
                            {{att.absent_mins}}
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-navbar>